body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/background.png");
    background-size: 7%;
    color: #ddddf6;
    font-size: 0.75em;
}
#centre {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.centre {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1% 0 1% 0;
}

/* World + Pet */
#enclosure {
    position: relative;
}
#pet {
    width: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    z-index: 1;
}

/* Shop */
#shop-title {
    margin-bottom: 5%;
}
.shop-row {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    user-select: none;
}
.shop-row p {
    cursor: pointer;
    scale: 120%;
}
.shop-row p:active {
    filter: brightness(75%);
}


/* General Elements */
p {
    margin: 1% 0 1% 0;
}
table {
    margin: 0;
    padding: 0;
    border: solid #ddddf6 1px;
    border-radius: 1%
}
th {
    border: solid #ddddf6 1px;
    border-radius: 1%
}
button {
    width: 90%;
}
textarea {
    min-height: 200%;
    width: 90%;
    resize: none;
}