body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/giphypet/background.png");
    background-size: 7%;
    color: #ddddf6;
    font-size: 0.75em;
}

#table {
    width: 298px; /* Need to fix width since changing element text changes width */
}

#widthControlOne {
    width: 200px;
}

#widthControlTwo {
    width: 82px;
}

#centre {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.centre {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1% 0 1% 0;
}
.hidden {
    visibility: hidden;
    position: absolute !important;
}

/* Gambling */
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    top: 0;
    left: 0;
}
.secondaryEnclosure {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 203px;
    font-size: 4em;
    flex-direction: column;
}
#gamble {
    z-index: 2;
}
#gamble table {
    background-color: #ddddf6;
    border-radius: 8px;
}
#gamble th {
    background-color: #d0d0ed;
    border: none;
    color: black;
    border-radius: 8px;
}
#gamble button {
    margin-top: 5%;
    width: 30%
}

/* Shower */
#wash {
    z-index: 3;
}
#fakePet {
    width: 70%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 30%;
    left: auto;
}

/* World + Pet */
#enclosure {
    position: relative;
    overflow: hidden;
}
#pet {
    width: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    pointer-events: visible;
    z-index: 1;
}
#pet:active {
    cursor: grabbing;
}

/* Shop */
#shop-title {
    margin-bottom: 5%;
}
.shop-row {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    user-select: none;
}
.shop-row p {
    cursor: pointer;
    scale: 120%;
}
.shop-row p:active {
    filter: brightness(75%);
}


/* General Elements */
p {
    margin: 1% 0 1% 0;
}
table {
    margin: 0;
    padding: 0;
    border: solid #ddddf6 1px;
    border-radius: 1%;
}
th {
    border: solid #ddddf6 1px;
    border-radius: 1%;
}
button {
    width: 90%;
}
textarea {
    min-height: 200%;
    width: 90%;
    resize: none;
}